
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* MY STYLING */
.top_head {
  position: fixed;
  z-index: 10;
  top = 0;
  width: 100%;
  background-color: black;
}

.item>p{
    font-size: 3vh;
}

.hoodie_img {
  margin-top: 3vh;
  width: 40%;
}

.shirt_img {
  margin-top: 3vh;
  width: 40%;
}

.model_img {
  margin-top: 3vh;
  width: 26%;
}

.logo_image {
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width: 100%;
/*  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  width: 50%; */
}

.LOGO{
  width: 40vh;
}

.item {
  position: relative;
  font-size: 4vh;
  text-align: center;
  top: 25vh;
  font-family: "Courier New", monospace;
  margin-bottom: 15%;
}

#bottom {
  margin-bottom: 50vh;
}

.item >h2{
  color: #9E9E9E;
  position: relative;
  top: 1.5vh;
  font-size: 3vh * 1vw;
}

.footer{
  position: fixed;
  background-color: black;
  height: 8vh;
  width: 100%;
  bottom: 0;

}

.item > button{
  display: block;
  margin: auto;
  margin-top: 2vh;
  font-size: 2vh * 1vw;
  font-family: "Courier New", monospace;
  height: 6vh;
  color: white;
  width: 30vw;
  border: none;
  background-color: #3399ff;
  transition-duration: 0.6s;
}

.item > button:hover{
  font-family: "Courier New", monospace;
  font-size: 1.75vh * 1vw;
  color: black;
  border: none;
  background-color: #33cc33;
}

.footer > h3 {
  position: relative;
  color: white;
  font-family: "Courier New", monospace;
  text-align: center;
  font-size: 2vw * 1vh;
  top: 50%;
}
